<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Radio Gatsun{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="http://localhost/Gatsun-v2/web/images/favicon.jpg"/>
    <style type="text/css">
        @font-face {
            font-family: 'Script MT Bold';
            src: url('http://gatsun.asso.insa-lyon.fr/web/font/script_mt_bold/script_mt_bold.eot');
            src: url('http://gatsun.asso.insa-lyon.fr/web/font/script_mt_bold/script_mt_bold.eot?#iefix') format('embedded-opentype'),
            url('http://gatsun.asso.insa-lyon.fr/web/font/script_mt_bold/script_mt_bold.svg#Script MT Bold') format('svg'),
            url('http://gatsun.asso.insa-lyon.fr/web/font/script_mt_bold/script_mt_bold.woff') format('woff'),
            url('http://gatsun.asso.insa-lyon.fr/web/font/script_mt_bold/script_mt_bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body {
            margin: auto;
            font-family: "Roboto", sans-serif;
            font-size: 0.8em;
        }

        a {
            color: gray;
        }

        a:hover {
            color: #EB9723;
        }

        #page {
            margin: auto;
            width: 500px;
            padding: 10px;
        }

        #header {
            margin: auto;
            font-family: 'Script MT Bold', serif;
            font-size: 6.5em;
            height: 125px;
            width: 500px;
            text-align: center;
        }

        #header img {
            vertical-align: middle;
        }

        h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
            margin-top: 0;
            margin-bottom: 0;
            text-decoration: none;
        }

        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 1.9em;
        }

        h3 {
            font-size: 1.5em;
        }

        h4 {
            font-size: 1.4em;
        }

        h5 {
            font-size: 0.1em;
        }

        h6 {
            font-size: 0.9em;
        }

        #footer {
            margin: auto;
            width: 500px;
            padding: 5px;
            background: #ff9800;
            color: white;
            font-size: 1.6em;
        }
    </style>
</head>
<body>
<div id="header">
    <img src="{{ asset('images/header.png') }}"/> Gatsun
</div>
<div id="page">
    {% block body %}{% endblock %}
</div>
<div id="footer">
    © 2009-2016 &ndash; Radio Gatsun &ndash; Tous droits réservés
</div>
</body>
</html>