@font-face {
    font-family: 'Script MT Bold';
    src: url('../fonts/script_mt_bold.eot');
    src: url('../fonts/script_mt_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/script_mt_bold.svg#Script MT Bold') format('svg'),
    url('../fonts/script_mt_bold.woff') format('woff'),
    url('../fonts/script_mt_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.inline-block {
    display: inline-block;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

img {
    max-width: 100%;
}

.card .card-action {
    border-top: none;
}

.card-reveal .card-action {
    padding: 0px;
}

.card-image .card-title {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-title .material-icons {
    vertical-align: middle;
}

.card-facebook {
    background: url("../images/facebook.png") no-repeat right bottom #3A5897;
    height: 200px;
    color: white;
}

.card-twitter {
    background: url("../images/twitter.png") no-repeat right bottom #39A0CE;
    height: 200px;
    color: white;
}

.card-facebook h4 {
    background-color: rgba(58, 88, 151, 0.53);
    display: inline-block;
    padding: 10px;
    margin: 7px -10px 3px -10px;
}

.card-twitter h4 {
    background-color: rgba(57, 160, 206, 0.53);
    display: inline-block;
    padding: 10px;
    margin: 7px -10px 3px -10px;
}

nav img {
    max-height: 40px;
    vertical-align: middle;
}

.slick-prev:before,
.slick-next:before {
    color: silver;
}

.brand-logo {
    font-family: 'Script MT Bold', serif;
}

nav a img {
    max-height: 18px;
}

#partenaires img {
    max-width: 200px;
    max-height: 55px;
    display: inline-block;
    vertical-align: middle;
}

aside {
    font-size: 0.8em;
    color: gray;
}

aside time {
    font-size: inherit;
}

aside .material-icons {
    vertical-align: middle;
}

.input-field label {
    left: 0;
}

.inline-field input {
    width: auto !important;
    display: inline-block !important;
}

.input-field.inline-field, .inline-field .select-wrapper {
    display: inline-block !important;
}

.vich-file .file-field label, .vich-image .file-field label {
    position: relative;
    color: white;
    top: 0;
}
