.vignette-publication
{
    text-align: center;
    padding-bottom: 15px;
}

.vignette-publication img
{
    max-width: 830px;
    max-height: 300px;
}

#lecteur {
    overflow: hidden;
}

#lecteur audio
{
    width: 100%;
}

.inline-block {
    display: inline-block;
}

textarea 
{
    resize: none;
    height: 54px !important;
}

#commentaires
{
    max-height: 470px;
    overflow: auto;
}

#commentaires .avatar
{
    max-height: 50px;
    max-width: 50px;
    float: left;
    margin-right: 5px;
}

.texteCommentaire
{
    padding-top: 5px;
    display: block;
}

time
{
    font-size: 70%;
}