{% extends "::popup.html.twig" %}
{% block title %}Aide sur le BBCode &ndash; {{ parent() }}{% endblock %}
{% block body %}
	<section class="panel panel-default">
		<div class="panel-heading">
			<h1>Aide sur le BBcode</h1>
		</div>
	    <div class="panel-body">
			<p>Choisissez le bouton pour lequel vous souhaitez obtenir de l'aide :</p>
			<p class="btn-toolbar" role="toolbar">
				<div class="btn-group">
					<a href="#gras" class="btn btn-default btn-xs"><i class="fa fa-bold fa-fw"></i></a>
					<a href="#italique" class="btn btn-default btn-xs"><i class="fa fa-italic fa-fw"></i></a>
					<a href="#souligne" class="btn btn-default btn-xs"><i class="fa fa-underline fa-fw"></i></a>
					<a href="#barre" class="btn btn-default btn-xs"><i class="fa fa-strikethrough fa-fw"></i></a>
				</div>
				<div class="btn-group">
					<a href="#texte_gauche" class="btn btn-default btn-xs"><i class="fa fa-align-left fa-fw"></i></a>
					<a href="#texte_centre" class="btn btn-default btn-xs"><i class="fa fa-align-center fa-fw"></i></a>
					<a href="#texte_droite" class="btn btn-default btn-xs"><i class="fa fa-align-right fa-fw"></i></a>
					<a href="#texte_justifie" class="btn btn-default btn-xs"><i class="fa fa-align-justify fa-fw"></i></a>
				</div>
				<div class="btn-group">
					<a href="#liste_puces" class="btn btn-default btn-xs"><i class="fa fa-list-ul fa-fw"></i></a>
					<a href="#liste_numerique" class="btn btn-default btn-xs"><i class="fa fa-list-ol fa-fw"></i></a>
					<a href="#ligne" class="btn btn-default btn-xs"><i class="fa fa-minus fa-fw"></i></a>
				</div>
				<div class="btn-group">
					<a href="#citer" class="btn btn-default btn-xs"><i class="fa fa-quote-left fa-fw"></i></a>
					<a href="#tableau" class="btn btn-default btn-xs"><i class="fa fa-table fa-fw"></i></a>
				</div>
				<div class="btn-group">
					<a href="#image" class="btn btn-default btn-xs"><i class="fa fa-picture-o fa-fw"></i></a>
					<a href="#lien" class="btn btn-default btn-xs"><i class="fa fa-link fa-fw"></i></a>
					<a href="#video" class="btn btn-default btn-xs"><i class="fa fa-film fa-fw"></i></a>
				</div>
				<div class="btn-group">
					<a href="#taille_texte" class="btn btn-default btn-xs"><i class="fa fa-text-height fa-fw"></i></a>
					<a href="#couleur_texte" class="btn btn-default btn-xs"><i class="fa fa-paint-brush fa-fw"></i></span></a>
					<a href="#police_texte" class="btn btn-default btn-xs"><i class="fa fa-font fa-fw"></i></a>
				</div>
				<div class="btn-group">
					<a href="#indice" class="btn btn-default btn-xs"><i class="fa fa-subscript fa-fw"></i></a>
					<a href="#exposant" class="btn btn-default btn-xs"><i class="fa fa-superscript fa-fw"></i></a>
				</div>
			</p>
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="gras"><button class="btn btn-default btn-xs"><i class="fa fa-bold fa-fw"></i></button> Texte en gras</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[b]Texte en gras[/b]</pre>
					Aperçu :<div class="apercu"> <div><strong>Texte en gras</strong></div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="souligne"><button class="btn btn-default btn-xs"><i class="fa fa-underline fa-fw"></i></button> Texte souligné</h2>
				</div>
				<div class="panel-body">
					<div>Code : </div><pre>[u]Texte souligné[/u]</pre>
					Aperçu :<div class="apercu"> <div><ins>Texte souligné</ins></div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="italique"><button class="btn btn-default btn-xs"><i class="fa fa-italic fa-fw"></i></button> Texte en italique</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[i]Texte en italique[/i]</pre>
					Aperçu :<div class="apercu"> <div><em>Texte en italique</em></div></div>
				</div>
			</div>

			<hr />

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="barre"><button class="btn btn-default btn-xs"><i class="fa fa-strikethrough fa-fw"></i></button> Texte barré</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[s]Texte barré[/s]</pre>
					Aperçu :<div class="apercu"> <div><del>Texte barré</del></div></div>
				</div>
			</div>

			<hr />

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="texte_gauche"><button class="btn btn-default btn-xs"><i class="fa fa-align-left fa-fw"></i></button> Texte à gauche</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[left]Texte à gauche[/left]</pre>
					Aperçu :<div class="apercu"> <div style="text-align: left">Texte à gauche</div></div>
				</div>
			</div>

			<hr />

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="texte_centre"><button class="btn btn-default btn-xs"><i class="fa fa-align-center fa-fw"></i></button> Texte au centre</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[center]Texte au centre[/center]</pre>
					Aperçu :<div class="apercu"> <div style="text-align: center">Texte au centre</div></div>
				</div>
			</div>

			<hr />

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="texte_droite"><button class="btn btn-default btn-xs"><i class="fa fa-align-right fa-fw"></i></button> Texte à droite</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[right]Texte à droite[/right]</pre>
					Aperçu :<div class="apercu"> <div style="text-align: right">Texte à droite</div></div>
				</div>
			</div>

			<hr />

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="texte_justifie"><button class="btn btn-default btn-xs"><i class="fa fa-align-justify fa-fw"></i></button> Texte justifié</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[justified]Texte justifié[/justified]</pre>
					Aperçu :<div class="apercu"> <div style="text-align: justify">Texte justifié</div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="liste_puces"><button class="btn btn-default btn-xs"><i class="fa fa-list-ul fa-fw"></i></button> Liste à puces</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[list][*]Puce n°1<br />[*]Puce n°2[/list]</pre>
					Aperçu :<div class="apercu"> <ul><li>Puce n°1</li><li>Puce n°2</li></ul></div>
					<em>Attention ! Revenez à la ligne après chaque puce, sauf la dernière.</em>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="liste_numerique"><button class="btn btn-default btn-xs"><i class="fa fa-list-ol fa-fw"></i></button> Liste numérique</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[list=1][*]Puce n°1<br />[*]Puce n°2[/list=1]</pre>
					Aperçu :<div class="apercu"> <ol><li>Puce n°1</li><li>Puce n°2</li></ol></div>
					<em>Attention ! Revenez à la ligne après chaque puce, sauf la dernière.</em>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="ligne"><button class="btn btn-default btn-xs"><i class="fa fa-minus fa-fw"></i></button> Ligne</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[hr]</pre>
					Aperçu :<div class="apercu"> <hr /></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="citer"><button class="btn btn-default btn-xs"><i class="fa fa-quote-left fa-fw"></i></button> Citer</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[quote=Nom de l'auteur]Citation[/quote]</pre>
					Aperçu :<div class="apercu"> <div id="quote">&nbsp; Auteur : Nom de l'auteur <br /><em>&nbsp; Citation</em></div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="tableau"><button class="btn btn-default btn-xs"><i class="fa fa-table fa-fw"></i></button> Tableau</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[table]<br />[tr]<br />[th]Titre colonne 1[/th][th]Titre colonne 2[/th]<br />[/tr]<br />[tr]<br />[td]Ligne 1 Colonne 1[/td][td]Ligne 1 Colonne 2[/td]<br />[/tr]<br />[tr]<br />[td]Ligne 1 Colonne 1[/td][td]Ligne 1 Colonne 2[/td]<br />[/tr]<br />[/table]</pre>
					Aperçu :<div class="apercu"> <table><tr><th>Titre colonne 1</th><th>Titre colonne 2</th></tr><tr><td>Ligne 1 Colonne 1</td><td>Ligne 1 Colonne 2</td></tr><tr><td>Ligne 1 Colonne 1</td><td>Ligne 1 Colonne 2</td></tr></table></div>
					<em>La ligne de titre n'est pas obligatoire.</em>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="image"><button class="btn btn-default btn-xs"><i class="fa fa-picture-o fa-fw"></i></button> Image</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[img]http://gatsun.asso.insa-lyon.fr/web/images/header.png[/img]</pre>
					Aperçu :<div class="apercu"> <div><a href="{{ asset('images/header.png') }}" title="Cliquez pour agrandir"><img style="max-width: 550px" src="{{ asset('images/header.png') }}" alt=""/></a></div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="lien"><button class="btn btn-default btn-xs"><i class="fa fa-link fa-fw"></i></button> Lien</h2>
				</div>
				<div class="panel-body">
					<h3>Lien + Texte</h3>
					<div>Code :</div><pre>[url=http://gatsun.asso.insa-lyon.fr]Site Internet de Radio Gatsun[/url]</pre>
					Aperçu :<div class="apercu"> <div><a href="http://gatsun.asso.insa-lyon.fr">Site Internet de Radio Gatsun</a></div></div>

					<h3>Lien seul</h3>
					<div>Code :</div><pre>[url]http://gatsun.asso.insa-lyon.fr[/url]</pre>
					Aperçu :<div class="apercu"> <div><a href="http://gatsun.asso.insa-lyon.fr/">http://gatsun.asso.insa-lyon.fr</a></div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="video"><button class="btn btn-default btn-xs"><i class="fa fa-film fa-fw"></i></button> Vidéo</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[video]http://www.youtube.com/watch?v=jU3b5BOlZL0[/video]</pre>
					Aperçu :<div class="apercu"> <div><iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/jU3b5BOlZL0?rel=0" frameborder="0" allowfullscreen></iframe></div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="taille_texte"><button class="btn btn-default btn-xs"><i class="fa fa-text-height fa-fw"></i></button> Taille du texte</h2>
				</div>
				<div class="panel-body">
					<h3>Avec des mots-clefs</h3>
					<div>Code :</div><pre>[size=xx-small]Texte très très petit[/size]</pre>
					Aperçu :<div class="apercu"> <div style="font-size: xx-small">Texte très très petit</div></div>
					<em>Liste des mots-clefs (passez la souris pour afficher la traduction) : <br />
						<dfn title="très très petit">xx-small</dfn> ; <dfn title="très petit">x-small</dfn> ; <dfn title="petit">small</dfn> ; 
						<dfn title="moyen">medium</dfn> ; <dfn title="grand">large</dfn> ; <dfn title="très grand">x-large</dfn> ; 
						<dfn title="très très grand">xx-large</dfn>
					</em>

					<h3>Avec une taille en pixels (px)</h3>
					<div>Code :</div><pre>[size=16px]Texte en 16px[/size]</pre>
					Aperçu :<div class="apercu"> <div style="font-size: 16px">Texte en 16px</div></div>

					<h3>Avec une valeur en pourcentage (%)</h3>
					<div>Code :</div><pre>[size=200%]Texte en 200%[/size]</pre>
					Aperçu :<div class="apercu"> <div style="font-size: 200%">Texte en 200%</div></div>

					<h3>Avec une valeur en taille relative (em)</h3>
					<div>Code :</div><pre>[size=1.3em]Texte en 1.3em[/size]</pre>
					Aperçu :<div class="apercu"> <div style="font-size: 1.3em">Texte en 1.3em</div></div>

					<h3>Avec une valeur en taille relative par rapport à la lettre "x" (ex)</h3>
					<div>Code :</div><pre>[size=2.5ex]Texte en 2.5ex[/size]</pre>
					Aperçu :<div class="apercu"> <div style="font-size: 2.5ex">Texte en 2.5ex</div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="couleur_texte"><button class="btn btn-default btn-xs"><i class="fa fa-paint-brush fa-fw"></i></button> Couleur du texte</h2>
				</div>
				<div class="panel-body">
					<h3>Avec des noms de couleurs</h3>
					<div>Code :</div><pre>[color=lime]Texte en vert citron[/color]</pre>
					Aperçu :<div class="apercu"> <div style="color: lime">Texte en vert citron</div></div>
					<em>Liste des couleurs (passez la souris pour afficher la traduction) : <br />
						<dfn title="eau">aqua</dfn> ; <dfn title="noir">black</dfn> ; <dfn title="bleu">blue</dfn> ; <dfn title="fuschia">fuschia</dfn> ; 
						<dfn title="gris">gray</dfn> ; <dfn title="vert">green</dfn> ; <dfn title="vert citron">lime</dfn> ; <dfn title="marron">maroon</dfn> ; 
						<dfn title="marine">navy</dfn> ; <dfn title="vert olive">olive</dfn> ; <dfn title="violet">purple</dfn> ; <dfn title="rouge">red</dfn> ; 
						<dfn title="argent">silver</dfn> ; <dfn title="bleu-vert">teal</dfn> ; <dfn title="blanc">white</dfn> ; <dfn title="jaune">yellow</dfn>
					</em>

					<h3>Avec une couleur en format hexadécimal</h3>
					<div>Code :</div><pre>[color=#993300]Texte en marron[/color]</pre>
					Aperçu :<div class="apercu"> <div style="color: #993300">Texte en marron</div></div>

					<h3>Avec une valeur de type RGB(R,G,B)</h3>
					<div>Code :</div><pre>[color=RGB(255,0,0)]Texte en rouge[/color]</pre>
					Aperçu :<div class="apercu"> <div style="color: RGB(255,0,0)">Texte en rouge</div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="police_texte"><button class="btn btn-default btn-xs"><i class="fa fa-font fa-fw"></i></button> Police du texte</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>[font=Times New Roman]Texte en Times New Roman[/font]</pre>
					Aperçu :<div class="apercu"> <div style="font-family: 'Times New Roman', serif;" >Texte en Times New Roman</div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="indice"><button class="btn btn-default btn-xs"><i class="fa fa-subscript fa-fw"></i></button> Indice</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>Texte normal [sub]Texte en indice[/sub]</pre>
					Aperçu :<div class="apercu"> <div>Texte normal <sub>Texte en indice</sub></div></div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 id="exposant"><button class="btn btn-default btn-xs"><i class="fa fa-superscript fa-fw"></i></button> Exposant</h2>
				</div>
				<div class="panel-body">
					<div>Code :</div><pre>Texte normal [sup]Texte en exposant[/sup]</pre>
					Aperçu :<div class="apercu"> <div>Texte normal <sup>Texte en exposant</sup></div></div>
				</div>
			</div>

			<div><em>Ces balises sont bien sûr combinables entre-elles.</em></div>
			<div>Code :</div><pre>[color=blue]Texte bleu [b]Texte bleu et gras[/b][/color]</pre>
			Aperçu :<div class="apercu"> <div style="color: blue">Texte bleu <strong>Texte bleu et gras</strong></div></div>
			<em>Attention : pensez à refermer les balises dans le bon ordre !</em>
		</div>
	</section>
{% endblock %}