{% extends "::base.html.twig" %}
{% block title %}La radio &ndash; {{ parent() }}{% endblock %}
{% block body %}
    <section>
        <h1>La radio</h1>
        <article>
            <h2>Présentation de l'association</h2>
            <p>
                <strong>Gatsun</strong> est une association étudiante de l'INSA de Lyon qui compte une vingtaine de
                membres. Elle a été créée en octobre 2004.
                <br/>
                L'objectif de cette association est :
            </p>
            <ul>
                <li>d'élaborer et de diffuser du contenu radiophonique sur Internet ;</li>
                <li>
                    d'assurer une formation technique, informatique sur les techniques de communication et tout autre
                    objet utile pour l'élaboration et la diffusion de programmes radio.
                </li>
            </ul>
            <p>
                Étant donné l'encombrement de la bande FM à Lyon, il nous a été impossible de disposer une fréquence
                libre pour notre projet. Nous nous sommes donc tournés vers Internet pour diffuser notre contenu.
                Cela nous permet ensuite de mettre à disposition des auditeurs les émissions sous forme de Podcasts.
            </p>
            <p>
                Afin de monter ce projet de webradio, nous avons tout d'abord monté un studio d'enregistrement : le
                studio Orson Welles, au R-d-C du bâtiment G-J sur le campus de la Doua.<br/>
                Nous avons mis en place un site web et créé un compte Facebook permettant l'interactivité entre les
                animateurs et les auditeurs ainsi que d'autres outils informatiques pour la gestion de l'association.
            </p>
            <p>
                Cette association est dirigée par :
            </p>
            <ul>
                <li>le bureau (président, trésorier, secrétaire) ;</li>
                <li>le conseil d'administration (responsables technique, informatique, enregistrements, communication,
                    éditorial, musique, actualités et membres du bureau).
                </li>
            </ul>
            <p>
                Le conseil d'administration se réunit régulièrement. Les membres peuvent assister à ces réunions.
                Si le conseil d'administration est composé d'élève d'ingénieurs de l'INSA, peuvent être membres de
                l'association les étudiants lyonnais et les personnels de l'INSA.
                <br/>
                L'ensemble des membres se réunit trois fois par an lors des trois Assemblées Générales.
            </p>
            <p>
                Nous travaillons jusqu'à présent dans un souci de bâtir un média Internet de qualité et original, dans
                la lignée des premières radios associatives libres.<br/>
                C'est pourquoi nous voulons assurer un droit de réponse à quiconque le demanderait.<br/>
                Nous payons aussi la SACEM et nos sources sont légales. Nous rémunérons donc nos artistes.<br/>
                Gatsun a vocation d'informer ses auditeurs des manifestations sur le campus de l'INSA. Nous sommes donc
                preneurs de tout partenariat avec d'autres associations dans la mesure du possible.<br/>
                Pour toute suggestion, question ou projet, vous pouvez nous laisser un message sur notre adresse mail
                que vous trouverez à la page Contact/Forum.
            </p>
        </article>

        <article>
            <h2>Gatsun, l'Histoire</h2>

            <h3>Les chroniques d'une aventure hors norme</h3>

            <h4>Épisode premier : Gatsun, la création</h4>
            <p>
                Il était une fois dans une contrée fort fort lointaine appelée La Doua une civilisation de jeunes
                étudiants : les Insaliens. Tous travaillaient dur pour devenir ingénieurs et beaucoup d'entre eux ne
                prenaient plus le temps de s'évader.
            </p>
            <p>
                Mais un jour, un garçon qui répondait au nom de Timothée décida de monter un projet des plus risqués,
                une webradio !
            </p>
            <p>
                Timothée s'entoura d'autres étudiants aussi motivés que lui et au bout de quelques mois, la webradio
                était née ! Mais comment l'appeler ? Il fallait un nom qui soit original, exotique, facile à retenir,
                surprenant !
            </p>
            <p>
                L'idée leur vint en mangeant des sushis. Quoi de mieux qu'une onomatopée japonaise, à la fois si bizarre
                à prononcer, mais si amusante que tout le monde s'en souvient ?
            </p>
            <h5>C'était décidé, la webradio s'appellerait Gatsun (pronounced Gatsoune) !</h5>
            <p>
                Mais le plus dur pour Timothée et ses amis restait à venir…<br/>
                En effet, il leur fallut affronter le vent glacial que les autres étudiants leur donnaient.<br/>
                Des midis durant, ils étaient contraints à manger de pauvres sandwichs du resto U pour régler des
                problèmes techniques. L'effectif était tellement réduit aux réunions qu'ils ne pouvaient même pas jouer
                au tarot pour passer le temps…
            </p>
            <p>
                Puis un jour, quelques étudiants, intrigués par cette salle au rez-de-chaussée du bâtiment G-J de
                l'INSA, montrèrent leurs frimousses. Certains étaient musiciens, d'autres de fins mélomanes, et
                quelques-uns des techniciens hors pair. Tous voulaient devenir membres de cette webradio !
            </p>
            <p>
                Au fur et à mesure, les émissions se créèrent. De la musique de tous horizons (rock, rap, reggae,
                électro, …) aux programmes explosifs et intrigants, Gatsun s'enrichissait de jour en jour.
            </p>
            <p>
                Timothée, fier de son bébé, décida de passer le flambeau à ses jeunes successeurs et partit sur la
                route, à la quête de nouvelles aventures.
            </p>
            <p>
                Ainsi Gatsun et ses animateurs vécurent heureux et eurent beaucoup d'auditeurs (enfin, on espère…).
            </p>

            <h4>Épisode second : Gatsun, la malédiction</h4>

            <p>
                Tel l'Empire Romain au III<sup>ème</sup> siècle de notre ère, le royaume enchanté de Gatsun s'est
                quelque peu démantelé à force de querelles et de laisser-aller…
            </p>
            <p>
                Les années avaient passé depuis le départ de Timothée. Les étudiants en charge de la radio ne payant pas
                la SACEM et ne modérant pas suffisamment le forum Internet de la radio, cette dernière s'est vue
                cantonnée au campus de la Doua. Seul un valeureux chevalier du nom d'Étienne et son fidèle partenaire
                d'aventure, Quentin, étaient restés avec Gatsun au rez-de-chaussée du bâtiment G-J.
            </p>

            <p>
                Étienne et Quentin cherchèrent à recruter de nouvelles têtes pour pouvoir faire évader leur radio du
                campus… Mais en vain ! L'intérêt commun pour Gatsun avait littéralement plongé. Le public n'était plus
                au rendez-vous.
            </p>
            <p>
                Une forme de malédiction s'était abattue. Nos deux aventuriers prirent rapidement conscience que
                certains de leurs prédécesseurs avaient pillé le royaume de la radio et les biens qu'il contenait.
                Étienne et Quentin héritèrent aussi des conséquences d'une mauvaise gestion : renvoi et black-listage de
                l'assurance puis de la banque en l'espace d'un an (respectivement pour retard de paiement et pour
                découvert de 1,39 € pendant 20 jours).
            </p>
            <p>
                Épuisés et quelque peu démotivés, ils choisirent de quitter le royaume pour aller découvrir de nouvelles
                contrées (Suède et Brésil). Gatsun était à l'agonie. Son serveur (équivalent du cœur pour une webradio)
                avait même pris la foudre…
            </p>
            <p>
                Très peu de temps avant qu'Étienne ne ferme définitivement la porte du studio, un jeune Insalien vint à
                sa rencontre. Il souhaitait devenir écuyer à temps partiel. Voyant en lui un successeur de dernière
                minute, Étienne le fit chevalier sur le champ.
            </p>
            <p>
                La malédiction ne s'arrêta pas pour autant ! Le nouveau président, qui se faisait appeler Antho, eut à
                répondre de l'état de Gatsun. À sa prise de fonction, il se retrouva seul et sans un sou, face à un
                studio dans lequel rien ne fonctionnait. La carte son, véritable clé de voûte du studio, avait même
                rendu l'âme.
            </p>
            <p>
                S'en vint alors une longue période de recrutement, de recherche de subventions et de reconstruction…
            </p>
            <p>
                Un jour, par hasard, Antho tomba sur une troupe de guerriers rattachés au <abbr
                        title="Bureau des Étudiants">BdE</abbr> de l'INSA Lyon : les Orgas If ! Les deux plus vaillants,
                Jérémy et Tristan, s'investirent à fond avec Antho sur cette reconstruction/libération de Gatsun. Et peu
                à peu les Insaliens s'intéressèrent de nouveau à leur radio. Toute une équipe investit le studio, un
                beau jour de printemps, pour épauler ceux qui s'acharnaient déjà depuis longtemps dans l'ombre. Ainsi le
                projet se développa de nouveau.
            </p>
            <p>
                En l'espace de trois années, Gatsun retrouva un fonds de roulement confortable, une banque, un assureur,
                un contrat SACEM, un studio en bon état et de multiples partenaires… La dernière année de ces trois
                années de règne d'Antho, la trentaine de membres réussit à faire 12 heures d'émissions par semaine en
                direct live pendant 2 mois complets, sur un flux streaming actif 24h/24, 7j/7, contenant une playlist
                musicale très dense entre les émissions (et sans pub).
            </p>
            <p>
                La radio avait même réussi à quitter le campus ! N'importe où dans le monde, il était désormais possible
                de l'écouter sur Internet avec un ordinateur.
            </p>
            <p>
                Ayant fini par trouver un successeur digne de ce nom, Antho finit par quitter le trône de Radio Gatsun.
                Tout avait été mis en place pour que la nouvelle équipe soit apte à gérer la radio pendant un an,
                puis passe le flambeau à son tour.
            </p>
            <p>
                Ainsi Gatsun et ses animateurs vécurent heureux et eurent beaucoup d'auditeurs (enfin, on espère…).
            </p>
        </article>
    </section>
{% endblock %}